$pm-color: #211540;
$sc-color: #F51B35;
$tr-color: #7AC417;
$bg-color: #e1daf4;
$lt-color: #d3cce5;

html,
body {
    margin: 0 auto;
    padding: 0;
    background-color: $bg-color;
    color: $pm-color;
    line-height: normal;
    font-size: 1rem;
    font-family: Montserrat, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    scroll-behavior: smooth;
    letter-spacing: -1px;
}

h1,h2,h3,h4,h5,h6,p,ol,ul,li,input{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    display: block;
    color: inherit;
    cursor: pointer;
}

button{
    border: none;
    background-color: unset;
    font-size: inherit;
    line-height: 2rem;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

.p-5-10{
    padding: 5px 10px;
}

.p-20{
    padding: 1rem 2rem;
}
.d-grid-col{
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(2,auto);
    gap: 50px;
    margin-bottom: 20px;
}
.d-flex-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 5px;
    a{
        font-size: 0.8rem;
        padding: 2px 10px;
        margin: 5px 0;
    }
    a:hover{
        background-color: #dddddd;
    }
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.main{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.fab-btn{
    font-size: 3rem;
    display: grid;
    color: white;
    background: $sc-color;
    position: fixed;
    z-index: 10;
    aspect-ratio: 1;
    width: 50px;
    height: 50px;
    place-items: center;
    right: 3%;
    bottom: 3%;
    border-radius: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $bg-color;
    nav{
        div .logo{
            aspect-ratio: 1;
            width: 25px;
        }

        .menu{
            .menu-button{
                display: none;
                height: 100%;
                width: 30px;
                cursor: pointer;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 4px;
            }
            .menu-button span{
                background-color: #211540;
                height: 4px;
                width: 30px;
                border-radius: 2px; 
            }
            .nav-links{
                display: flex;
                flex-direction: row;
                gap: 20px;
                line-height: 2rem;
                li a{
                    padding-left: 10px;
                    padding-right: 10px;
                    transition: all 0.1s ease-in-out;
                }
            }
        }
    }
}

.arrow-down{
    border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.5s ease-in-out;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow-up{
    transform: rotate(-135deg);
}

.content {
    .banner h1{
        text-transform: capitalize;
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .home-content{
        .tasks{
            margin: 2rem 0;
            border-top: 2px solid $lt-color;
            padding-top: 20px;
            line-height: 2rem;
        }
        .category-tasks{
            ul{
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(3, 1fr);
                li{
                    padding: 20px;
                    // place-items: center;
                    display: grid;
                    height: 100px;
                    border: 2px solid $lt-color;
                    border-radius: 10px;
                    transition: all 0.5s;
                    cursor: pointer;
                    .c-icon{
                        aspect-ratio: 1;
                        width: 25px;
                    }
                    .c-text{
                        // text-align: center;
                        h3{
                            margin-bottom: 5px;
                        }
                        span{
                            color: gray;
                        }
                    }
                }

                li:hover{
                    background: white;
                    // transform: scale(1.1);
                }
            }
        }
    }

    .tasks-content{
        .tabs{
            margin: 20px 0;
            .tab-list{
                position: sticky;
                top: 60px;
                z-index: 10;
                background: #e1daf4;
                .tab-btn{
                    padding: 10px;
                    margin-right: 30px;
                    border-radius: 10px 10px 0px 0px;
                    border-bottom: 2px solid transparent;
                    color: gray;
                }
                .active-tab-btn{
                    color: $sc-color;
                    border-bottom: 2px solid;
                }
            }
            .tab{
                padding: 10px;
                .task-check{
                    .task-title{
                        padding: 5px 10px;
                        border-radius: 2px;
                        margin-right: 25%;
                        p{
                            margin-bottom: 2px;
                            white-space: nowrap;
                        }
                        span{
                            font-size: 13px;
                            opacity: 0.8;
                            margin-right: 20px;
                            font-family: monospace;
                            white-space: nowrap;
                        }
                    }
                }
                .task-title:hover{
                    background-color: $lt-color;
                }
                .action{
                    position: relative;
                    button{
                        position: absolute;
                        right: 0;
                    }
                }
                .edit{
                    padding: 10px;
                    font-size: 13px;
                    opacity: 0.4;
                }
                .delete{
                    padding: 10px;
                    font-size: 13px;
                    opacity: 0.5;
                    color: $sc-color;
                }
                .edit:hover .delete:hover{
                    opacity: 1;
                }
            }
        }
    }

    .add-task-content{
        width: 30vw;
        .add-task{
            form{
                .input-group{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-bottom: 30px;
                }
                input,select{
                    font-size: 15px;
                    line-height: 2rem;
                    outline: none;
                    height: 2.5rem;
                    padding: 0 10px;
                    margin: 0;
                    border: 0;
                    border-bottom: 2px solid;
                    border-radius: 5px 5px 0px 0px
                }
                
                input:focus,select:focus{
                    border-color: #7AC417;
                }
                
    
                button{
                    width: 100%;
                    padding: 0.5rem;
                    background-color: $sc-color;
                    color: white;
                    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
                    border-radius: 10px;
                }
            }
        }
    }
}



.task-check {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .task-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    aspect-ratio: 1;
    width: 25px;
    background-color: white;
    border-radius: 100%;
  }
  
  .task-check:hover input ~ .checkmark {
    background-color: white;
  }
  
  .task-check input:checked ~ .checkmark {
    background-color: $tr-color;
  }

  .task-check input:checked ~ .task-title {
    opacity: 0.3;
    // text-decoration: line-through;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .task-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  .task-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  


.toast{
    position: fixed;
    top: 70px;
    right: 20px;
    padding: 10px 20px;
    display: none;
    z-index: 1000;
    background-color: white;
    width: 23%;
    text-align: right;
    border-left: 6px solid #f51b35;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: all 0.5ms ease-in-out;
    div{
        display: grid;
        place-content: center;
    }
}

.toast-display{
    display: block;
}


.active-link{
    color: white;
    background-color: #f51b35;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 768px) {
    .main{
        width: 100%;
    }
    .p-20{
        padding: 15px;
    }
    .add-task-content{
        width: 100% !important;
    }
}

@media screen and (max-width: 500px) {
    body{
        font-size: 0.8rem;
    }
    .content{
        width: 100%;
        .home-content{
            .category-tasks ul{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}