<section class="add-task-content">
    <div class="banner">
        <h1>Add Task</h1>
    </div>
    <div class="add-task">
        <form id="addForm" class="form" method="post">
            <div class="input-group">
                <label for="t-title">Task</label>
                <input required type="text" name="title" minlength="6" id="t-title" value=""/>
            </div>
            <div class="input-group">
                <label for="t-category">Category</label>
                <select required name="category" id="t-category" >
                    <option value="personal" selected>Personal</option>
                    <option value="work">Work</option>
                    <option value="school">School</option>
                    <option value="grocery">Grocery</option>
                </select>
            </div>
            <!-- <div class="d-flex-row justify-between">
                <div class="input-group">
                    <label for="t-time">Time</label>
                    <input required type="time" name="time" id="t-time" value="">
                </div>
            </div> -->
            <div class="input-group">
                <label for="t-date">Date</label>
                <input required type="datetime-local" name="date" id="t-date" max="2023-06-14T00:00"/>
            </div>
            
            <button type="submit" >Submit</button>
        </form>
    </div>
</section>